body {
    margin: 40px; 
}
ul {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;  
}
.navbar-li {
  list-style: none;
  margin-top: 11px;
  margin-bottom: 11px;
  font-size: 22px;
  display: inline-block;
 font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.siaxleebi a{
  color: #E53D34;
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.navbar-li a{
  text-decoration: none;
  color: 3D58A6;
   font-family: "BPG Nino Mtavruli Bold", sans-serif;
 }
img.fb {
    margin-right: 30px;
    width: 14px;
    height: 30px;
}
img.youtube {
    margin-left: 30px;
    width: 24.81px;
    height: 30px;
}
img.image1 { 
  width: 270;
  height: 210px;
  float: right;
  margin-right: 40px;
  margin-bottom: 145px;

}
img.image2 {
  width: 270;
  height: 210px;
  float: left;
  margin-right: 40px;
  margin-bottom: 145px;
}
img.image3 {
  width: 270;
  height: 210px;
  float: left;
  margin-right: 40px;
  margin-bottom: 145px;
}
img.image4 {
  width: 270;
  height: 210px;
  float: right;
  margin-right: 40px;
  margin-bottom: 145px;

}
.text-block p#blue {
  color: #3D58A6;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 22px;
}
.text-block p#white {
  color: white;
  height:56px;
  width: 56px;
  background-color: #3D58A6;
  font-size: 40px;
  text-align: center;
  font-family: "BPG Nino Mtavruli", sans-serif;
}
.text-block p#nino {
  font-family: "BPG Nino Mtavruli", sans-serif;
}
.container{
  font-size: 16px;
  font-family: "BPG Ingiri Arial", sans-serif;
}
#parent {
    list-style: none;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
   
    margin-bottom: 20px;
}

#parent > li {
    display: inline-block;
    width: 50%;
    height: 100%;
    
}